.footer {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
  }
  background-color: $background-dark;
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}
.logo.footer-cont__logo {
  margin-bottom: 20px;
  padding: 0;
}
.logo__element {
  color: $white-color;
}
.footer-contact__address {
  font-style: normal;
  @include font(null, 14px, 1.71, 0.03em);
  color: $white-color;
}
.footer-contact__link {
  font-style: normal;
  @include font(null, 14px, 1.71, 0.03em);
  color: $contacts-color;
  transition: color $hover-efect;
  &:hover,
  &:focus {
    color: $white-color;
  }
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer-cont {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.soc {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.jjj {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.soc-title {
  margin-bottom: 20px;
  @include font(null, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $white-color;
}
.soc-list {
  display: flex;
  justify-content: center;
}
.soc-list__item:not(:last-child) {
  margin-right: 10px;
}
.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  @extend %align-list;
  transition: background-color $hover-efect;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.soc-list__icon {
  fill: $white-color;
}
.subscription-box {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  // display: flex;
  // flex-direction: column;
}

.subscription__label {
  display: block;
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: $white-color;
}
.subscription__email {
  min-width: 250px;
  @media screen and (min-width: 400px) {
    min-width: 370px;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 12px;
  }

  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: $white-color;
  transition: border-color $hover-efect;
  &:focus {
    border-color: #2196f3;
  }
  &::placeholder {
    font-style: normal;
    @include font(400, 16px, 1.25, 0.03em);
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription__btn {
  padding: 10px 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: box-shadow $hover-efect;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscription__icon {
  margin-left: 10px;
}
