$primary-color: #757575;
$title-color: #212121;
$contacts-color: rgba(255, 255, 255, 0.6);
$white-color: #ffffff;
$accent-color: #2196f3;
$background-dark: #2f303a;
$hover-efect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
